# Pyspark GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('tut5').getOrCreate()

23/01/02 14:20:03 WARN Utils: Your hostname, Visheshs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.139.181 instead (on interface en0)
23/01/02 14:20:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/02 14:20:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/02 14:20:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/01/02 14:20:06 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
spark

In [6]:
df_pyspark = spark.read.csv('test5.csv', header=True, inferSchema = True)
df_pyspark.show()

+---------+------------+-----+
|     Name|         Dep|  Sal|
+---------+------------+-----+
|    Krish|Data Science|10000|
|    Krish|         IOT| 5000|
|   Mahesh|    Big Data| 4000|
|    Krish|    Big Data| 4000|
|   Mahesh|Data Science| 3000|
|Sudhanshu|Data Science|20000|
|Sudhanshu|         IOT|10000|
|Sudhanshu|    Big Data| 5000|
|    Sunny|Data Science|10000|
|    Sunny|    Big Data| 2000|
+---------+------------+-----+

In [7]:
df_pyspark.filter((df_pyspark['Sal']>=3000) &
                  (df_pyspark['Sal']<=10000)).show()

+---------+------------+-----+
|     Name|         Dep|  Sal|
+---------+------------+-----+
|    Krish|Data Science|10000|
|    Krish|         IOT| 5000|
|   Mahesh|    Big Data| 4000|
|    Krish|    Big Data| 4000|
|   Mahesh|Data Science| 3000|
|Sudhanshu|         IOT|10000|
|Sudhanshu|    Big Data| 5000|
|    Sunny|Data Science|10000|
+---------+------------+-----+

In [14]:
df_pyspark.filter('Sal=2000').select(['Name']).show()

+-----+
| Name|
+-----+
|Sunny|
+-----+

In [21]:
## Groupby
## Grouped to find the maximum salary

df_pyspark.groupBy('Name').sum('Sal').show()

+---------+--------+
|     Name|sum(Sal)|
+---------+--------+
|Sudhanshu|   35000|
|    Sunny|   12000|
|    Krish|   19000|
|   Mahesh|    7000|
+---------+--------+

In [28]:
### Groupby departments to check who gives max salary


df_pyspark.groupBy('Dep').mean('Sal').show()

+------------+--------+
|         Dep|avg(Sal)|
+------------+--------+
|         IOT|  7500.0|
|    Big Data|  3750.0|
|Data Science| 10750.0|
+------------+--------+

In [30]:
df_pyspark.groupBy('Dep').count().show()

+------------+-----+
|         Dep|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+