# Pyspark Dataframes

1. Filter Operation
2. &,|,==
3. ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

23/01/04 14:26:02 WARN Utils: Your hostname, Visheshs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.139.181 instead (on interface en0)
23/01/04 14:26:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/04 14:26:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('test4.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+---+---+-----+
|     Name|Age|Exp|  Sal|
+---------+---+---+-----+
|    Krish| 31| 10|30000|
|Sudhanshu| 30|  8|25000|
|    Sunny| 29|  4|20000|
|     Paul| 24|  3|20000|
|   Harsha| 21|  1|15000|
|  Shubham| 23|  2|18000|
+---------+---+---+-----+

### Filter Operations

In [12]:
### Salary of the people less than or equal to 20,000

df_pyspark.filter('Sal<=20000').show()

+-----+---+---+-----+
| Name|Age|Exp|  Sal|
+-----+---+---+-----+
|Sunny| 29|  4|20000|
| Paul| 24|  3|20000|
+-----+---+---+-----+

In [13]:
##Filter and Select

df_pyspark.filter('Sal<=20000').select(['Name', 'age']).show()

+-----+---+
| Name|age|
+-----+---+
|Sunny| 29|
| Paul| 24|
+-----+---+

In [15]:
##Filter and Select

df_pyspark.filter('Exp>8').select(['age']).show()

+---+
|age|
+---+
| 31|
+---+

In [21]:
##Filter and Filter

df_pyspark.filter(
                 (df_pyspark['Sal']<=20000) & 
                 (df_pyspark['Sal']>=15000)).show()

+-----+---+---+-----+
| Name|Age|Exp|  Sal|
+-----+---+---+-----+
|Sunny| 29|  4|20000|
| Paul| 24|  3|20000|
+-----+---+---+-----+

In [22]:
df_pyspark.filter(
                    ~(df_pyspark['Sal']<=20000)

).show()

+---------+---+---+-----+
|     Name|Age|Exp|  Sal|
+---------+---+---+-----+
|    Krish| 31| 10|30000|
|Sudhanshu| 30|  8|25000|
|   Harsha| 21|  1|25000|
|  Shubham| 23|  2|25000|
+---------+---+---+-----+

In [28]:
ps = spark.read_excel('test5.xlsx')

AttributeError: 'SparkSession' object has no attribute 'read_excel'

In [6]:
ps.read_excel('test5.xlsx', index_col=0)

/Users/visheshgiyanani/opt/anaconda3/lib/python3.9/site-packages/pyspark/pandas/namespace.py:1126: FutureWarning: convert_float is deprecated and will be removed in a future version.
  return pd.read_excel(
/Users/visheshgiyanani/opt/anaconda3/lib/python3.9/site-packages/pyspark/pandas/namespace.py:1126: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  return pd.read_excel(

                    Dep      Sal  Unnamed: 3 Unnamed: 4
Name
Krish      Data Science  10000.0         NaN       None
Krish               IOT   5000.0         NaN       None
Mahesh         Big Data   4000.0         NaN       None
Krish          Big Data   4000.0         NaN       None
Mahesh     Data Science   3000.0         NaN       None
Sudhanshu  Data Science  20000.0         NaN       None
Sudhanshu           IOT  10000.0         NaN       None
Sudhanshu      Big Data   5000.0         NaN       None
Sunny      Data Science  10000.0         NaN       None
Sunny          Big Data   2000.0         NaN       None
None               None      NaN         NaN       None
None               None      NaN         NaN       None
None               None      NaN         NaN       None
None               None      NaN         NaN       None
None               None      NaN         NaN          `

In [33]:
df = df.withColumn('grad_Score_new', F.regexp_replace('grad_Score', r'^[0]*', ''))

NameError: name 'df' is not defined

In [5]:
import pyspark.pandas as ps

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [7]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-10.0.1-cp39-cp39-macosx_10_14_x86_64.whl (25.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 25.1/25.1 MB 2.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.16.6 in /Users/visheshgiyanani/opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-10.0.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
df = spark.range(100)
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+
only showing top 20 rows

In [12]:

df2=df.select((df.id % 3).alias("key"))
print(df2.sampleBy("key", {0: 0.1, 1: 0.2},0).collect())

SyntaxError: unexpected EOF while parsing (1475823888.py, line 1)

In [10]:
df2.show()

+---+
|key|
+---+
|  0|
|  1|
|  2|
|  0|
|  1|
|  2|
|  0|
|  1|
|  2|
|  0|
|  1|
|  2|
|  0|
|  1|
|  2|
|  0|
|  1|
|  2|
|  0|
|  1|
+---+
only showing top 20 rows

In [5]:
df3 = df.sample(False, 0.3)

df3.show()

+---+
| id|
+---+
|  0|
| 12|
| 13|
| 15|
| 16|
| 18|
| 23|
| 24|
| 28|
| 31|
| 34|
| 35|
| 36|
| 43|
| 47|
| 48|
| 53|
| 58|
| 60|
| 61|
+---+
only showing top 20 rows

In [6]:
df.show(10)

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+
only showing top 10 rows

In [8]:
df = df[(df['ones'] % 5 == 0) | (df['zeros'] % 3 == 0)]

AnalysisException: Cannot resolve column name "ones" among (id)