# Pyspark Handling Missing Values

1. Dropping Columns
2. Dropping Rows
3. Various Parameter in Dropping functionalities
4. Handling missing values by mean, median and mode

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Tut3').getOrCreate()

In [6]:
spark

In [9]:
spark.read.csv('test2.csv',header=True,inferSchema=True).show()

+----------+----+----+-----+
|      Name| Age| Exp|  Sal|
+----------+----+----+-----+
|     Krish|  31|  10|30000|
|Shudhanshu|  30|   8|25000|
|     Sunny|  29|   4|20000|
|      Paul|  24|   3|20000|
|    Harsha|  21|   1|15000|
|   Shubham|  23|   2|18000|
|    Mahesh|null|null|40000|
|      null|  34|  10|38000|
|      null|  36|null| null|
+----------+----+----+-----+

In [10]:
df_pyspark = spark.read.csv('test2.csv',header=True,inferSchema=True)

In [11]:
df_pyspark.show()

+----------+----+----+-----+
|      Name| Age| Exp|  Sal|
+----------+----+----+-----+
|     Krish|  31|  10|30000|
|Shudhanshu|  30|   8|25000|
|     Sunny|  29|   4|20000|
|      Paul|  24|   3|20000|
|    Harsha|  21|   1|15000|
|   Shubham|  23|   2|18000|
|    Mahesh|null|null|40000|
|      null|  34|  10|38000|
|      null|  36|null| null|
+----------+----+----+-----+

In [12]:
###Drop the columns

df_pyspark.drop('Name').show()

+----+----+-----+
| Age| Exp|  Sal|
+----+----+-----+
|  31|  10|30000|
|  30|   8|25000|
|  29|   4|20000|
|  24|   3|20000|
|  21|   1|15000|
|  23|   2|18000|
|null|null|40000|
|  34|  10|38000|
|  36|null| null|
+----+----+-----+

In [14]:
#All Null Values dropped
## na - null

df_pyspark.na.drop().show()

+----------+---+---+-----+
|      Name|Age|Exp|  Sal|
+----------+---+---+-----+
|     Krish| 31| 10|30000|
|Shudhanshu| 30|  8|25000|
|     Sunny| 29|  4|20000|
|      Paul| 24|  3|20000|
|    Harsha| 21|  1|15000|
|   Shubham| 23|  2|18000|
+----------+---+---+-----+

In [17]:
##any = how
## how = all, even one null value
## how=any, any null value dropped
df_pyspark.na.drop(how = "any").show()

+----------+---+---+-----+
|      Name|Age|Exp|  Sal|
+----------+---+---+-----+
|     Krish| 31| 10|30000|
|Shudhanshu| 30|  8|25000|
|     Sunny| 29|  4|20000|
|      Paul| 24|  3|20000|
|    Harsha| 21|  1|15000|
|   Shubham| 23|  2|18000|
+----------+---+---+-----+

In [18]:
##threshold
##
df_pyspark.na.drop(how = "any", thresh=2).show()

+----------+----+----+-----+
|      Name| Age| Exp|  Sal|
+----------+----+----+-----+
|     Krish|  31|  10|30000|
|Shudhanshu|  30|   8|25000|
|     Sunny|  29|   4|20000|
|      Paul|  24|   3|20000|
|    Harsha|  21|   1|15000|
|   Shubham|  23|   2|18000|
|    Mahesh|null|null|40000|
|      null|  34|  10|38000|
+----------+----+----+-----+

In [19]:
##Subset
##Remove null values in a particular colunm

df_pyspark.na.drop(how = "any", subset=['Exp']).show()

+----------+---+---+-----+
|      Name|Age|Exp|  Sal|
+----------+---+---+-----+
|     Krish| 31| 10|30000|
|Shudhanshu| 30|  8|25000|
|     Sunny| 29|  4|20000|
|      Paul| 24|  3|20000|
|    Harsha| 21|  1|15000|
|   Shubham| 23|  2|18000|
|      null| 34| 10|38000|
+----------+---+---+-----+

In [11]:
### Filling the missing values

df_pyspark.na.fill('Missing Values', ['Exp', 'Age']).show()

+----------+----+----+-----+
|      Name| Age| Exp|  Sal|
+----------+----+----+-----+
|     Krish|  31|  10|30000|
|Shudhanshu|  30|   8|25000|
|     Sunny|  29|   4|20000|
|      Paul|  24|   3|20000|
|    Harsha|  21|   1|15000|
|   Shubham|  23|   2|18000|
|    Mahesh|null|null|40000|
|      null|  34|  10|38000|
|      null|  36|null| null|
+----------+----+----+-----+

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Tut3').getOrCreate()

In [6]:
spark

In [12]:
df_pyspark.show()

+----------+----+----+-----+
|      Name| Age| Exp|  Sal|
+----------+----+----+-----+
|     Krish|  31|  10|30000|
|Shudhanshu|  30|   8|25000|
|     Sunny|  29|   4|20000|
|      Paul|  24|   3|20000|
|    Harsha|  21|   1|15000|
|   Shubham|  23|   2|18000|
|    Mahesh|null|null|40000|
|      null|  34|  10|38000|
|      null|  36|null| null|
+----------+----+----+-----+

In [13]:
from pyspark.ml.feature import Imputer

Imputer = Imputer(
inputCols=['age', 'Exp', 'Sal'],
    outputCols=["{}_imputed".format(c) for c in ['age', 'Exp', 'Sal']]

)

In [16]:
import pandas