# TOPICS

Pysparek dataframe
Reading the Dataset
Checking the datatypes of the column (Schema)
Selecting Columns and Indexing
Chec king Describe option similar to Pandas
Adding Columns
Dropping Columns
Renaming Columns

In [1]:
## Read the dataset

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [43]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

22/12/27 15:28:45 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [6]:
spark

In [12]:
spark.read.option('header','true').csv('Book1.csv').show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|         8|
|Sudhansh| 30|         7|
|   Sunny| 29|         4|
+--------+---+----------+

In [16]:
## Read the dataset
df_pyspark = spark.read.option('header','true').csv('Book1.csv', inferSchema=True)

In [17]:
## Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [18]:
df_pyspark= spark.read.csv('Book1.csv', header=True, inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|         8|
|Sudhansh| 30|         7|
|   Sunny| 29|         4|
+--------+---+----------+

In [19]:
## Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [27]:
df_pyspark.head(3)

[Row(Name='Krish', Age=31, Experience=8),
 Row(Name='Sudhansh', Age=30, Experience=7),
 Row(Name='Sunny', Age=29, Experience=4)]

In [28]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|         8|
|Sudhansh| 30|         7|
|   Sunny| 29|         4|
+--------+---+----------+

In [30]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|   Krish|
|Sudhansh|
|   Sunny|
+--------+

In [31]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [32]:
df_pyspark.select(['Name', 'Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Krish|         8|
|Sudhansh|         7|
|   Sunny|         4|
+--------+----------+

In [33]:
df_pyspark['Name']

Column<'Name'>

In [34]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [35]:
##Describe Optioms
df_pyspark.describe().show()

+-------+-----+----+------------------+
|summary| Name| Age|        Experience|
+-------+-----+----+------------------+
|  count|    3|   3|                 3|
|   mean| null|30.0| 6.333333333333333|
| stddev| null| 1.0|2.0816659994661326|
|    min|Krish|  29|                 4|
|    max|Sunny|  31|                 8|
+-------+-----+----+------------------+

In [37]:
### Adding Collums in dataframe

df_pyspark = df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2)

In [38]:
df_pyspark.show()

+--------+---+----------+------------------------+
|    Name|Age|Experience|Experience After 2 years|
+--------+---+----------+------------------------+
|   Krish| 31|         8|                      10|
|Sudhansh| 30|         7|                       9|
|   Sunny| 29|         4|                       6|
+--------+---+----------+------------------------+

In [39]:
## Dropping Collums

df_pyspark = df_pyspark.drop('Experience After 2 years')

In [40]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|         8|
|Sudhansh| 30|         7|
|   Sunny| 29|         4|
+--------+---+----------+

In [41]:
### Rename Colunms


df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|         8|
|Sudhansh| 30|         7|
|   Sunny| 29|         4|
+--------+---+----------+